[tool.black]
line-length = 99
skip-numeric-underscore-normalization = 1

[tool.isort]
multi_line_output = 3
include_trailing_comma = "True"
force_grid_wrap = 0
known_third_party = "aocd"
known_first_party = "utils"
default_section = "THIRDPARTY"
use_parentheses = "True"
line_length = 99
skip_glob="**/node_modules/*, **/migrations/**"
src_paths = ""

[tool.pyright]
pythonVersion = "3.8"
include = ["src"]
exclude = [
    "src/octoenergy/interfaces/packages",
    "**/node_modules",
    "**/static-src",
    "**/__pycache__",
]
